* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

/* =========================== Navbar ===========================*/
.Navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, #231031, #190b23, #000);
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  
 
}
.Logo {
  height: 50px;
}
.container {
  margin-left: 110px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.Navbar-menu a {
  text-decoration: none; 
  color: white; 
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s ease;
}
.Navbar-menu a:hover {
  color: #a855f7;
}
.menu-order {
  margin-left: 40px;
  background-color: #6B3196;
  border-radius: 100px;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* =========================== Banner ===========================*/
.banner{
  padding-top: 170px;
  outline: #190b23;
  color: #fff;

}
.banner-container{
  margin-left: 130px;
  margin-right: 100px;
  display: flex;
  
  justify-content: space-between;
  
  
}
.banner-image{
  margin-right:  35px;
  z-index: 10;
}
.banner-image-i{
  width: 600px;
  height: 579px;
  padding-left: 20px;
  z-index: 10;
}
.banner-text {
  padding-top: 25px;
  line-height: 2; /* Mengatur line-height global */
  z-index: 10;

}

.banner-text-small {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 5px;
  
}
.banner-text-order{
  padding-top: 50px;
  /* font-size:20px; */
  font-weight: bold;
}

.banner-text-order a{
  text-decoration: none;
  color: white;
  background-color: #6B3196;
  padding: 20px;
  margin-top: 20px;
  border-radius: 100px;
  transition: color 0.3s ease;

}

.banner-text-order a:hover{
  color: #a855f7;

}

/* =========================== About ===========================*/
.about{
  color: white;
  display: flex;
  margin-top: 140px;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;

}

.about-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  z-index: 5;
  margin-bottom: 30px;
  position: relative;
  font-weight: 800;
}
.about-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  position: relative;
}

.about-card-inner {
  width: 350px;
  height: 300px;
  margin: 20px;
  background-color: #d0b3f1;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid white;
  overflow: hidden; /* Mencegah overflow dari animasi */
}

.about-card-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #321746, #803BB4, #803BB4);
  background-size: 300% 300%;
  animation: animate-border 1s infinite alternate linear;
  z-index: 1;
  pointer-events: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Efek bayangan lembut */
}

.about-card-inner .content {
  position: relative;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

@keyframes animate-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



/* =========================== Service ===========================*/

.service{
  color: white;
  margin: 100px;
  text-align: center;
}

.service-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  z-index: 5;
  margin-top: 150px;
  margin-bottom: -50px;
  position: relative;
  font-weight: 800;
}

.service-row-1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 100px;

}
.service-row-2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -25px;

}

.icon{
  width: 100px;
  height: 100px;
}

.icon-a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.icon-a-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.icon-a-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-left: -45px
}
.icon-a-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-left: -20px
}

.service-ellipse{
  object-fit: cover;
  position: absolute;
  /* top: 400;
  left: 0;
  height: 100%; */
  width: 100%;
}